<% if(errorValidations) { %>
    <% if(errorValidations.find(el => el.path === path && el.validatorKey === validatorKey )) { %>
        <% const errorItem = errorValidations.find(el => el.path === path && el.validatorKey === validatorKey ) %>
        <br><div class="alert alert-danger" role="alert">
            <small><%= errorItem.message %></small>
        </div>
    <% } %>
<% } %>