<%- include('partials/head.ejs', {title: 'Home'}) %>
<body>
    <%- include('partials/navbar.ejs') %>

    <%- include('partials/pageHeader.ejs', {pageTitle: 'Belajar Atracktif Entertaint'}) %>

    <div class="container" id="movieList">
        <div class="card-deck">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" style=" height: 200px;" src="http://lc.umm.ac.id/files/image/Ilustrasi%20Kelas%20Online%202.png" alt="Course">
                <div class="card-body">
                  <h5 class="card-title">Category</h5>
                  <p class="card-text">View our current list of Category Course.</p>
                  <br><a href="/category" class="btn btn-success" style="color: black">Show Category list</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" style=" height: 200px;" src="https://static.toiimg.com/thumb/msid-91718117,width-1070,height-580,imgsize-27186,resizemode-75,overlay-toi_sw,pt-32,y_pad-40/photo.jpg" alt="Course">
                <div class="card-body">
                    <h5 class="card-title">Course</h5>
                    <p class="card-text">View our current list of registered Course.</p>
                    <br><a href="/course" class="btn btn-success" style="color: black">Show Course list</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" style=" height: 200px;" src="https://sdl-stickershop.line.naver.jp/products/0/0/1/1119343/android/stickers/4875266.png;compress=true" alt="Course">
                <div class="card-body">
                    <h5 class="card-title">Students</h5>
                    <p class="card-text">View list of Students of the Course.</p>
                    <br><a href="/user" class="btn btn-success" style="color: black">Show Students list</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>